.layout-footer-fixed .wrapper .footer-absolute {
    position: absolute;
    padding-bottom: 0;
}

#map-canvas {
	height: 400px;
	width: 100%;
}

.select2-container .select2-selection--single {
	height:38px;
}

:root {
	--star-size: 40px;
	--star-color: #fff;
	--star-background: #fc0;
}

.stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
}

.stars::before {
	content: '★★★★★';
	letter-spacing: 3px;
	background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.list-photos, {
	display: flex;
	flex-wrap: nowrap;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.list-photos li {
	padding:0px 10px;
}
#image-preview {
	display: flex;
	flex-wrap: nowrap;
	margin:0px;
	padding:0px;	
}
#image-preview img {
	margin: 10px;
}

.image-index-wrapper {
	text-align: center;
	display: block;
	width:100%;
}
.ajax-loader {
	position:absolute;
	left:50%;
	right:0;
	top:50%;
	bottom:0;
	margin:0 auto;
	z-index: 99;
}