@charset "UTF-8";

@font-face {
  font-family: "style-font-2";
  src:url("fonts/style-font-2.eot");
  src:url("fonts/style-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/style-font-2.woff") format("woff"),
    url("fonts/style-font-2.ttf") format("truetype"),
    url("fonts/style-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "style-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "style-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01-dashboard-icon:before {
  content: "\61";
}
.icon-02-drivers:before {
  content: "\62";
}
.icon-03-customers:before {
  content: "\63";
}
.icon-04-company:before {
  content: "\64";
}
.icon-05-car-category:before {
  content: "\65";
}
.icon-06-taxi-category:before {
  content: "\66";
}
.icon-07-airport-category:before {
  content: "\67";
}
.icon-08-rental-car:before {
  content: "\68";
}
.icon-09-smart-car:before {
  content: "\69";
}
.icon-10-branch:before {
  content: "\6a";
}
.icon-11-cars:before {
  content: "\6b";
}
.icon-12-car-rental-booking:before {
  content: "\6c";
}
.icon-13-trips:before {
  content: "\6d";
}
.icon-26-transactions:before {
  content: "\6e";
}
.icon-25-wallets:before {
  content: "\6f";
}
.icon-24-cars:before {
  content: "\70";
}
.icon-23-car-rental:before {
  content: "\71";
}
.icon-22-trips:before {
  content: "\72";
}
.icon-21-users:before {
  content: "\73";
}
.icon-20-reports:before {
  content: "\74";
}
.icon-19-earnings:before {
  content: "\75";
}
.icon-18-transaction:before {
  content: "\76";
}
.icon-17-driver-wallet:before {
  content: "\77";
}
.icon-16-customer-wallet:before {
  content: "\78";
}
.icon-15-wallet:before {
  content: "\79";
}
.icon-14-real-time-map:before {
  content: "\7a";
}
.icon-27-branches:before {
  content: "\41";
}
.icon-28-coupon:before {
  content: "\42";
}
.icon-29-promo-codes:before {
  content: "\43";
}
.icon-30-notifications:before {
  content: "\44";
}
.icon-31-ratings:before {
  content: "\45";
}
.icon-44-payment-method-settings:before {
  content: "\46";
}
.icon-43-fuel-type-settings:before {
  content: "\47";
}
.icon-42-car-sizes-settings:before {
  content: "\48";
}
.icon-41-car-brand-settings:before {
  content: "\49";
}
.icon-40-city-settings:before {
  content: "\4a";
}
.icon-45-privacy-policy-settings:before {
  content: "\4b";
}
.icon-46-terms-and-conditions-settings:before {
  content: "\4c";
}
.icon-32-invoices:before {
  content: "\4d";
}
.icon-33-user-managment:before {
  content: "\4e";
}
.icon-34-users:before {
  content: "\4f";
}
.icon-35-permissions:before {
  content: "\50";
}
.icon-36-admin-users:before {
  content: "\51";
}
.icon-37-settings:before {
  content: "\52";
}
.icon-38-general-settings:before {
  content: "\53";
}
.icon-39-country-settings:before {
  content: "\54";
}
